@import "_reset.scss";
@import "mixins.scss";
@import "partials/_variables";
@import "partials/_typography";
@import "partials/_fonts";
@import "partials/_buttons";


@import "../../node_modules/prismjs/themes/prism.css";


.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: auto;

}

section {
  padding: 0 20px;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

@import "partials/wp_nav";

@import "partials/section-features-list";
@import "partials/_section-intro";
@import "partials/_section-installation";
@import "partials/_section-demos";
@import "partials/lem_youtube";
