.canvas-confetti {

  #demo-popup {
    max-width: 500px;
    height: 627px;
    margin: 100px auto 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 45%;
      background: linear-gradient(to top, rgba(black, 1), rgba(black, 0));
      z-index: 2;
    }

    .background-overlay {
      background: rgba(black, .5);
      position: absolute;
      left: 15px;
      top: 15px;
      right: 15px;
      bottom: 15px;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        left: 15px;
        top: 15px;
        right: 15px;
        bottom: 15px;
        border: 1px solid #4C4027;
      }
    }

    canvas {
      position: absolute;
      left: 0;
      top: 0;
    }

    .logo-wrap {
      text-align: center;
      padding: 41px 0 0;
      position: relative;
      z-index: 2;

      img {
        max-width: 190px;
        margin: auto;
        display: block;
      }
    }

    .interactive-text {
      display: block;
      position: relative;
      z-index: 20;
      line-height: 0.8;
      font-size: 40px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
      text-align: center;

      .inner-wrap {
        max-width: 290px;
        position: relative;
        display: inline-block;

        img {
          width: 100%;
        }

        .area-1 {
          background: red;
          left: 0;
          top: 40%;
          width: 56%;
          height: 55%;
          position: absolute;
          transform: rotate(-7deg);
          transform-origin: center;
          visibility: hidden;
        }

        .area-2 {
          background: blue;
          left: 58%;
          top: 7%;
          width: 43%;
          height: 82%;
          position: absolute;
          transform: rotate(-7deg);
          transform-origin: center;
          visibility: hidden;
        }
      }

      span {
        display: inline-block;
      }
    }
  }
}