extends ../../templates/base


block title
  | Lem gmaps

block main
  section.section-intro.full-width.back-img
      .container
        .content-wrap
          h1.main-ttl-1
            | Lem gmaps
  section.section-features-list
    .container
      h2.section-title.main-ttl-2
        | Installation
      ul.features-list
        li
          .content-col
            .main-ttl-3 Include JS
            .desc
              pre.language-markup
                code
                  | &lt;script src="jquery.min.js">&lt;/script>
                  | &lt;script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=googleMapsOnLoad" async defer>&lt;/script>
                  | &lt;script src="lem_gmaps.js">&lt;/script>
        li
          .content-col
            .main-ttl-3 Set HTML
            .desc
              pre.language-markup
                code
                  | &lt;div class="google-map">&lt;/div>

        li
          .content-col
            .main-ttl-3 Call the plugin
            .desc
              pre.language-javascript
                code
                  | window.googleMapsOnLoad = () => {
                  |   $('.google-map').lemGmaps({
                  |     markers: [
                  |       {
                  |         "lat": 44.530436,
                  |         "lng": -103.887630
                  |       }
                  |     ],
                  |   });
                  | };
  section.section-features-blocks
    .container
      h2.section-title.main-ttl-2
        | Demo
      ul.features-list
        li.feature-item
          .content-col
            .title.main-ttl-3
              | Basic usage
            .desc.main-p-1
              pre.language-javascript
                code
                  | $('.google-map-demo-1').lemGmaps({
                  |   markers: [
                  |     {
                  |       "lat": 44.530436,
                  |       "lng": -103.887630
                  |     }
                  |   ],
                  | });
          .img-col
            .img-wrap.google-map-demo-1

        li.feature-item
          .content-col
            .title.main-ttl-3
              | Default marker
            .desc.main-p-1
              pre.language-javascript
                code
                  | $('.google-map-demo-2').lemGmaps({
                  |   markers: [
                  |     {
                  |       "lat": 44.530436,
                  |       "lng": -103.887630
                  |     }
                  |  ],
                  |   marker_icon: null
                  | });
          .img-col
            .img-wrap.google-map-demo-2
        li.feature-item
          .content-col
            .title.main-ttl-3
              | Multiply markers
            .desc.main-p-1
              pre.language-javascript
                code
                  | $('.google-map-demo-3').lemGmaps({
                  |   markers: [
                  |     {
                  |       "lat": 44.530436,
                  |       "lng": -103.887630
                  |     },
                  |     {
                  |       "lat": 55.170730,
                  |       "lng": -118.819305
                  |     }
                  |   ]
                  | });
          .img-col
            .img-wrap.google-map-demo-3
        li.feature-item
          .content-col
            .title.main-ttl-3
              | Styles
            .desc.main-p-1
              pre.language-javascript
                code
                  | $('.google-map-demo-4').lemGmaps({
                  |   markers: [
                  |     {
                  |       "lat": 44.530436,
                  |       "lng": -103.887630
                  |     }
                  |   ],
                  |   map_options: {
                  |     styles: [
                  |       {
                  |         "featureType": "road",
                  |         "elementType": "all",
                  |         "stylers": [
                  |           {
                  |             "lightness": 90
                  |           }
                  |         ]
                  |       }
                  |     ]
                  |   }
                  | });
          .img-col
            .img-wrap.google-map-demo-4
        li.feature-item
          .content-col
            h3.main-ttl-3
              | Settings from data attribute
            .desc
              pre.language-markup
                code
                  | &lt;div
                  | class="google-map-demo-5"
                  | data-lem-gmap='{"markers": [{"lat": 46.904767, "lng": -96.797955}, {"lat": 42.163677, "lng": -72.632944, "icon": {"fillColor": "#0000ff"}}]}'>
                  | &lt;/div>
              pre.language-javascript
                code
                  | $('.google-map-demo-5').lemGmaps();
          .img-col
            .img-wrap.google-map-demo-5(data-lem-gmap='{"markers": [{"lat": 46.904767, "lng": -96.797955}, {"lat": 42.163677, "lng": -72.632944, "icon": {"fillColor": "#0000ff"}}]}')
