extends ../../templates/base


block title
  | Lem gmaps

block main
  section.section-intro.full-width.back-img
      .container
        .content-wrap
          h1.main-ttl-1
            | Lem gmaps
  section.section-features-list
    .container
      h2.section-title.main-ttl-2
        | Installation
      ul.features-list
        li
          .content-col
            .main-ttl-3 Include JS
            .desc
              pre.language-markup
                code
                  | &lt;script src="jquery.min.js">&lt;/script>
                  | &lt;script src="lem_gmaps.js">&lt;/script>
        li
          .content-col
            .main-ttl-3 Set HTML
            .desc
              pre.language-markup
                code
                  | &lt;div class="google-map">&lt;/div>

        li
          .content-col
            .main-ttl-3 Call the plugin
            .desc
              pre.language-javascript
                code
                  | $('.google-map').lemGmaps({
                  |   markers: [
                  |     {
                  |       "lat": 44.530436,
                  |       "lng": -103.887630
                  |     }
                  |   ],
                  | });
  section.section-features-blocks
    .container
      h2.section-title.main-ttl-2
        | Demo
      ul.features-list
        li.feature-item
          .content-col
            .title.main-ttl-3
              | Basic usage
            .desc.main-p-1
              pre.language-javascript
                code
                  | $('.google-map-demo-1').lemGmaps({
                  |   markers: [
                  |     {
                  |       "lat": 44.530436,
                  |       "lng": -103.887630
                  |     }
                  |   ],
                  | });
          .img-col
            .img-wrap.google-map-demo-1

        li.feature-item
          .content-col
            .title.main-ttl-3
              | Animation type - rotate
            .desc.main-p-1
              pre.
                \n
          .img-col
            .img-wrap.google-map-demo-2
        li.feature-item
          .content-col
            .title.main-ttl-3
              | Event - mouse move
            .desc.main-p-1
              pre.
                \n
          .img-col.hover-me
            .img-wrap.parallax-demo-3
              .parallax-inner.back-img(style="background-image: url('/src/imgs/sample-img-3.jpg')")
        li.feature-item
          .content-col
            .title.main-ttl-3
              | Event - mouse move with rotate animation
            .desc.main-p-1
              pre.
                \n
          .img-col.hover-me
            .img-wrap.parallax-demo-4
              .parallax-inner.back-img(style="background-image: url('/src/imgs/sample-img-4.jpg')")
        li.feature-item
          .content-col
            h3.main-ttl-3
              | Alternative background type
            .desc
              pre.
                \n
          .img-col.hover-me
            .img-wrap.parallax-demo-5
              .parallax-inner.youtube-video.youtube-video-background
