- var pages = [{name: 'Home', url: 'index.html'}, {name: 'lem-youtube', url: '/lem-youtube'}, {name: 'lem-counter', url: '/lem-counter'}, {name: 'three-js-experiments', url: '/three-js-experiments'}];


block sharedVars

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
      block title

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-112465244-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-112465244-1');

  body(class=page_name_slug)
    header
      .container
        .wp-navbar-head
          a.logo(href='/')
            | lem
          button.wp-navbar-toggle(type='button')
            .animate-burger
              span.top
              span.middle
              span.bottom
        .wp-navbar-collapse
          ul.nav
            each i in pages
              li.menu-item(class={active: page_url == i.url})
                a(href=i.url)= i.name

    #page.page(class=page_name_slug)
      block main