extends ../templates/base

append sharedVars
  - var page_url = '/lem-youtube';
  - var page_name_slug = 'canvas-confetti';

block title
  | Lem youtube

block main
  #demo-popup.back-img(style="background-image: url('/src/imgs/confetti-1/background.jpg')")

    .background-overlay

    .logo-wrap
        img('src=/src/imgs/confetti-1/logo.png')

    div.interactive-text
      .inner-wrap
        img('src=/src/imgs/confetti-1/75.png')
        div.area-1
        div.area-2