extends ../templates/base

append sharedVars
  - var page_url = '/lem-youtube';
  - var page_name_slug = 'canvas-confetti';

block title
  | Lem youtube

block main
  #demo-popup
    span.test-text
      span.word
        | Lorem
      span
        | &nbsp;
      span.word
        | ipsum