extends ../templates/base

append sharedVars
  - var page_slug = 'lem-youtube';


block main
  section.section-intro
    .youtube-video.background-video(data-lem-youtube='{"videoId": "_L2sI5GFf1g"}')
    .container
      .content-wrap
        h3.main-ttl-1
          | Lem youtube
  section.section-demos
    .container

      .main-ttl-2
        | Demos

      ul.demos-list
        li.demo-item.demo-item-1
          .content-col
            .main-ttl-3
              | Default settings
            .desc
              pre
                code.language-javascript
                  |  $(window).on('apiReady.ly', function () {
                  |      $('.youtube-video').lemYoutube();
                  |  });
          .media-col
            .media-col-inner
              .rect-outer
                .rect-inner.youtube-video(data-lem-youtube='{"videoId": "yu_bA7jzX5Y"')
        li.demo-item.demo-item-2
          .content-col
            .main-ttl-3
              | Call methods when player ready
            .desc
              pre
                code.language-javascript
                  | $(window).on('apiReady.ly', function () {
                  |     $('.demo-item-2 .youtube-video').lemYoutube();
                  | });
                  | $('.demo-item-2 .youtube-video').on('onReady.ly', function () {
                  |     $(this).lemYoutube('ytPlayer', 'playVideo');
                  |     $(this).lemYoutube('ytPlayer', 'mute');
                  | });


          .media-col
            .media-col-inner
              .rect-outer
                .rect-inner.youtube-video(data-lem-youtube='{"videoId": "yu_bA7jzX5Y"}')
        li.demo-item.demo-item-3
          .content-col
            .main-ttl-3
              | Simple external controls
            .desc
              pre
                code.language-javascript
                  | $(window).on('apiReady.ly', function () {
                  |     $('.demo-item-3 .youtube-video').lemYoutube();
                  | });
                  |
                  | $('.play-btn').on('click', function(){
                  |     $('.demo-item-3 .youtube-video').lemYoutube('ytPlayer', 'playVideo');
                  | })
                  |
                  | $('.pause-btn').on('click', function(){
                  |     $('.demo-item-3 .youtube-video').lemYoutube('ytPlayer', 'pauseVideo');
                  | })
            .btn-group
              button.play-btn.btn
                | Play
              button.pause-btn.btn
                | Pause

          .media-col
            .media-col-inner
              .rect-outer
                .rect-inner.youtube-video(data-lem-youtube='{"videoId": "yu_bA7jzX5Y"}')

  section.section-installation
    .container

      .main-ttl-2
        | Installation

      ul.installation-list
        li.installation-item
          .content-col
            .main-ttl-3
              | Include JS
            .desc
              pre.language-markup
                code
                  | &lt;script src="jquery.min.js">&lt;/script>
                  | &lt;script src="lem_youtube.js">&lt;/script>
        li.installation-item
          .content-col
            .main-ttl-3
              | Set HTML
            .desc
              pre.language-markup
                code
                  | &lt;div class="youtube-video">&lt;/div>
        li.installation-item
          .content-col
            .main-ttl-3
              | Call the plugin
            .desc
              pre.language-javascript
                code
                  | $(window).on('apiReady.ly', function () {
                  |     $('.youtube-video').lemYoutube();
                  | });

    section.section-settings
      .container

        .main-ttl-2
          | Settings

        ul.settings-list
          li.setting-item
            .content-col
              .main-ttl-3
                | All Youtube Player parameters support
              .desc
                a(href='https://developers.google.com/youtube/player_parameters') https://developers.google.com/youtube/player_parameters


          li.setting-item
            .content-col
              .main-ttl-3
                | Default PlayerVars
              .desc

                pre.language-javascript
                  code
                    | playerVars: {
                    |     'rel': 0,
                    |     'showinfo': 0
                    |    }
          li.setting-item
            .content-col
              .main-ttl-3
                | Set options in function args
              .desc
                pre.language-javascript
                  code
                    | $(window).on('apiReady.ly', function () {
                    |     $('.youtube-video').lemYoutube({
                    |         videoId: "yu_bA7jzX5Y",
                    |         playerVars: {
                    |             'rel': 1,
                    |             'showinfo': 1,
                    |             'autoplay': 1
                    |         }
                    |     });
                    | });

          li.setting-item
            .content-col
              .main-ttl-3
                | Set options in data attribute
              .desc
                pre.language-javascript
                  code
                    | $(window).on('apiReady.ly', function () {
                    |     $('.youtube-video').lemYoutube();
                    | });

                pre.language-markup
                  code
                    | &lt;div
                    | class="youtube-video"
                    | data-lem-youtube='{"videoId": "yu_bA7jzX5Y", "playerVars": {"rel": 1, "showinfo": 1, "autoplay": 1}}'>
                    | &lt;/div>

    section.section-methods
      .container

        .main-ttl-2
          | Methods

        ul.methods-list
          li.method-item
            .content-col
              .main-ttl-3
                | All IFrame API methods support
              .desc
                a(href='https://developers.google.com/youtube/iframe_api_reference') https://developers.google.com/youtube/iframe_api_reference


          li.method-item
            .content-col
              .main-ttl-3
                | Example
              .desc
                pre
                  code.language-javascript
                    | $(window).on('apiReady.ly', function () {
                    |     $('.youtube-video').lemYoutube();
                    | });
                    | $('.youtube-video').on('onReady.ly', function () {
                    |     $(this).lemYoutube('ytPlayer', 'playVideo');
                    |     $(this).lemYoutube('ytPlayer', 'loadVideoById', ["bHQqvYy5KYo", 50, "large"]);
                    | });

    section.section-events
      .container

        .main-ttl-2
          | Events

        ul.events-list

          li.method-item
            .content-col
              .main-ttl-3
                | onReady
              .desc
                pre
                  code.language-javascript
                    | $('.youtube-video').on('onReady.ly', function () {
                    |     $(this).lemYoutube('ytPlayer', 'playVideo');
                    | });
          li.method-item
            .content-col
              .main-ttl-3
                | onStateChange
              .desc
                pre
                  code.language-javascript
                    | $('.youtube-video').on('onStateChange.ly', function (event, data) {
                    |    if (data == 0) {
                    |        $(this).lemYoutube('ytPlayer', 'playVideo');
                    |    }
                    | });

