body {
  font-family: $main-ff-1;
  font-size: 18px;
}

code {
  font-size: 16px;
}

.main-ttl-1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0;

}

.main-ttl-2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.main-ttl-3 {
  font-size: 35px;
  margin: 10px 0;
}

.main-p {
  letter-spacing: -0.45px;
  line-height: 1.6;

  p+p {
    margin: 40px 0 0;
  }

  strong {
    font-weight: bold;
  }
}
